.text-welcome {
    font-family: 'Fraunces',serif;
    font-weight: 700;
    font-size: 55px;
    text-align: left;
    line-height: 67.82px;
    color: #0D986A;
}
.code {
    font-family: 'Fraunces',serif;
    font-weight: 700;
    font-size: 55px;
    text-align: right;
    line-height: 67.82px;
    color: #013220;
}
.text-name {
    font-family: 'Fraunces',serif;
    font-weight: 700;
    font-size: 55px;
    text-align: left;
    line-height: 67.82px;
    color: #013220;
}
.btn1-1 {
    border-radius: 40px;
    padding: 17px, 10px, 17px, 10px;
    gap: 10px;
    background-color: #013220;
    color:white;

}
.btn2-2 {
    border-radius: 60px;
    padding: 17px, 10px, 17px, 10px;
    gap: 10px;
    background-color: #F84DD2;
}

#ImageButton1 {
    width: 100px;
    height: 100px;
}

.button-container2 {
    display: flex; /* This creates a flex container */
}
.progress-child {
    font-family: 'Fraunces',serif;
    font-weight: 700;
    font-size: 30px;
    color: #33404F;
}
.container-spacing{
    margin-top: 100px;
}
.container-spacing2 {
    margin-top: 40px;
}
.bg-card2 {
    background-color: #B5C5C3;
}

